.outer-sprite-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sprite-box {
	width: auto;
	height: auto;
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 15%;
	border-width: 10mm;
	border-color: rgb(117, 117, 117);
	border: solid;
	padding: 0em 4em;
	margin: 1em 0em;
	background-color: rgb(41, 40, 48);
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);

	background-image: url(../assets/pokeball-icon.png),
		repeating-linear-gradient(
			45deg,
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.3) 1px,
			transparent 1px,
			transparent 6px
		);
	background-repeat: repeat;
	background-position: 2px 2px;
	background-size: 30px 30px;
}

.sprite {
	width: 15em;
	object-fit: cover;
	justify-content: center;
	align-items: center;
}
