.outer-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.poketable {
	justify-content: center;
	align-items: center;
}

thead {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.statsrow {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.5em;
}

.body-name {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 5mm;
}

.nature {
	font-style: italic;
	color: rgba(24, 24, 24, 0.747);
	opacity: 110%;
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 5mm;
}
