.title-row {
	display: flex;
	padding: 3px;
}

.title-name {
	display: flex;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 25px;
	padding: 0.5em 1.5em;
	align-items: center;
}

.title-img {
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	padding-right: 1em;
}
